<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"     
			 xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" th:href="@{/css/styles.css}" />	
	
		 
	<head>
		<title>Audioblog</title>
	</head>
	
	<body><h1>Audioblog header</h1>
		<img th:src="@{/images/banner.jpg}"/>
	
			<div th:each="Post : ${Status}">
					<input name="postList" type="checkbox"
						th:value="${title}" /> 
						<span th:text="${Status}">TEXT</span><br />
			</div>
	
	</body>
	
</html>